.container{
    /* Propiedades de tamaño */
    width: 800px;
    background-color: rgb(243, 241, 241);
    margin: 0px auto;
    padding: 20px;
    /* Propiedades de texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: gray;
}

.resize{
    height: 150px;
}

.row{
    display: flex;
    justify-content: space-between;
    background-color: rgb(249, 184, 3);
    padding: 20px;
}

.pink{
    background-color: thistle;
    justify-content: space-around;
}

.blue{
    background-color: cornflowerblue;
}



